footer {
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 0.625rem;
    position: fixed;
    bottom: 0;
}

.createbtn {
    width: 6.25rem;
    border: solid black;
    border-radius: 1.1875rem;
    text-align: center;
    margin-left: 13.875rem;
    padding: 0.3125rem;
    margin-bottom: 0.625rem;
}

.createbtn:hover {
    color: tomato;
}

.createbtn:active {
    color: aqua;
    background-color: black;
}

.backbtn {
    width: 7.5rem;
    border: solid black;
    border-radius: 1.1875rem;
    text-align: center;
    padding: 0.3125rem;
    margin-bottom: 0.625rem;
    margin-left: 0.125rem;
    display: inline-block;
}

.backbtn:hover {
    color: aqua;
}
