footer {
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
  }
  .createbtn{
  width: 100px;
  border: solid black;
  border-radius: 19px; 
  text-align: center;
  margin-left: 30%;
  padding: 5px;
  margin-bottom: 10px;
  }
  .createbtn:hover{
      color: tomato;
  }
  .createbtn:active{ 
  color: aqua; 
  background-color: black; 
  }
  
  .backbtn{
  width: 120px;
  border: solid black;
  border-radius: 19px; 
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 2px;
  display: inline-block;
  }
  .backbtn:hover{
  color: aqua; 
  }