.backbtn{
    width: 7.5rem;
    border: solid black;
    border-radius: 1.1875rem;
    text-align: center;
    padding: 0.3125rem;
    margin-bottom: 0.625rem;
    margin-left: 0.125rem;
    display: inline-block;
}

.backbtn:hover{
    color: tomato;
}

.container{
    background-color: beige;
    margin-top: 2rem;
    justify-content: center;
    width: 100%;
    max-width: 37.5rem;
    align-items: center; 
    display: inline-flex;
    border: 0.25rem solid black;
    padding: 0.625rem;
}

.datasection{    
    padding: 0.625rem;
    border-radius: 0.9375rem;
}

label{
    width: 12.5rem;
    display: block;
}

.inputx{
    width: 25rem;
    display: block;
    border-radius: 0.4375rem;
}

.updatebtn{
    width: 6.25rem;
    border: solid black;
    border-radius: 1.1875rem; 
    text-align: center;
    margin-left: 30%;
    padding: 0.3125rem;
    margin-bottom: 0.625rem;
}

.updatebtn:hover{
    color: tomato;
}

.updatebtn:active{ 
    color: aqua; 
    background-color: black; 
}

footer {
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1.25rem;
    position: relative;
    bottom: 0;
    margin-top: 1.25rem;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    .updatebtn, .backbtn {
        width: 100%;
        margin-left: 0;
    }
}
