.backbtn{
  width: 7.5rem;
  border: solid black;
  border-radius: 1.1875rem;
  text-align: center;
  padding: 0.3125rem;
  margin-top: 0.625rem;
  margin-left: 0.125rem;
  display: inline-block;
}

.backbtn:hover{
  color: tomato;
}

.addNewProduct{
  width: 27.5rem;
  border: solid black;
  border-radius: 1.1875rem;
  text-align: center;
  padding: 0.3125rem;
  display: flex;
  margin-left: 62%;
  margin-top: 0.625rem;
}

.addNewProduct:hover{
  color: tomato;
}

footer {
  width: 100%;
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1.25rem;
  position: relative;
  margin-top: 4.375rem;
  bottom: 0;
  margin-bottom: 0.0625rem;
}
