.body {
    background-color: bisque;
  }
  
  .conatainer {
    align-items: center;
    align-content: center;
    display: grid;
    max-width: 62.5rem;
    min-width: 0;
  }
  
  .sec1 {
    padding: 1.25rem;
    width: 100%;
    max-width: 62.5rem;
    min-width: 0;
    height: 90%;
    margin: 1.25rem auto;
    border: 0.125rem solid black;
    border-radius: 0.3125rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    background-color: beige;
  }
  
  
  .paginationControls button:not(:disabled):hover {
    background-color: #4158b1;
  }
  
  .pagination {
    position: relative;
    text-align: center;
    padding-bottom: 3.125rem;
  }
  
  .page-btn {
    padding: 0.625rem 1.25rem;
    margin: 0 0.625rem;
    border: none;
    background-color: #5371ff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .page-btn:hover {
    background-color: #4056b5;
  }
  
  #currentPage {
    font-size: 1.125rem;
    padding: 0.625rem 1.25rem;
    margin: 0 0.625rem;
  }
  
  .backbtn {
    width: 7.5rem;
    border: solid black;
    border-radius: 1.1875rem;
    text-align: center;
    padding: 0.3125rem;
    margin-bottom: 0.625rem;
    margin-left: 0.125rem;
    display: flex;
    margin-top: 0.625rem;
  }
  
  .backbtn:hover {
    color: tomato;
  }
  
  .addNewProduct {
    width: 8.75rem;
    border: solid black;
    border-radius: 1.1875rem;
    text-align: center;
    padding: 0.3125rem;
    display: flex;
    margin-left: 1rem;
    margin-top: 0.625rem;
  }
  
  .addNewProduct:hover {
    color: tomato;
  }
  
  footer {
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 0.625rem;
    position: relative;
    bottom: 0;
  }
  