.container {
    background-color: blanchedalmond;
    border: 0.1875rem solid black;
    border-radius: 0.3125rem;
    margin-top: 1.25rem;
    text-align: center;
    min-height: 33.75rem;
    max-height: 46.25rem;
    padding: 0.3125rem;
}

.paginationControls button:not(:disabled):hover {
    background-color: #4158b1;
}

.pagination {
    text-align: center;
    margin-top: 1.25rem;
    margin-left: 13.75%;
}

.page-btn {
    padding: 0.625rem 1.25rem;
    margin: 0 0.625rem;
    border: none;
    background-color: #5371ff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.page-btn:hover {
    background-color: #4056b5;
}

#currentPage {
    font-size: 1.125rem;
    padding: 0.625rem 1.25rem;
    margin: 0 0.625rem;
}

.backbtn {
    width: 7.5rem;
    border: solid black;
    border-radius: 1.1875rem;
    text-align: center;
    padding: 0.3125rem;
    margin-bottom: 0.625rem;
    margin-left: 0.125rem;
    display: inline-block;
}

.backbtn:hover {
    color: tomato;
}

footer {
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    padding: 0.625rem;
}
